<plugin>
	<nom> <!-- Nom du plugin -->
	Intranet
	</nom>
	<auteur>	<!-- Auteur du plugin -->
	Gilles VINCENT et Rainer Müller
	</auteur>
	<version> <!-- Version du plugin -->
	0.2.0
	</version>
	<etat> <!-- Etat du plugin, au choix : dev (developpement), test, stable, experimental -->
	stable
	</etat>
	<description>
	Intranet d'ECTA
	</description>
	<prefix> 
	ecta
	</prefix>
	<pipeline>
		<nom>ajouter_boutons</nom> 
		<action>ajouter_boutons</action>
		<inclure>ecta_pipelines_admin.php</inclure>
	</pipeline>
	<pipeline>
		<nom>post_typo</nom> 
		<action>post_typo</action>
		<inclure>ecta_pipelines_admin.php</inclure>
	</pipeline>	

</plugin>